%h2 New Author
= simple_nested_form_for(@author, :html => {:class => 'well form-horizontal'}) do |f|
	= f.input :name
	= render(:partial => "shared/address", :locals =>{:f =>f} )
	%h2 Books
	= f.fields_for :books do |b|
		%fieldset{:class => 'well'}
			= b.input :title
			= b.input :publisher
			= b.association :categories, collection: Category.all
			= b.link_to_remove "Remove", :class => "btn btn-danger"
	= f.link_to_add "Add Book", :books, :class => "btn btn-success"
	= f.submit :class => 'btn btn-primary'